<!DOCTYPE html>
html(lang="en")
  head
    include _includes/test_head.pug
    title Document
  body
    .testPage
      h1 Hello, World! :)
      .ico-checked--green
      .list
        ul.list-item
          li.list-item item-1
          li.list-item item-2
          li.list-item item-3


    script(src="scripts/app.js")