<!DOCTYPE html>
html(lang="en")
  head
    include _includes/test_head.pug
    title Document
  body
    .sliderousel-pagelist
      .sliderousel-pageitem
        .sliderousel-mainpage
          include ./contents/page-1/mainPage.pug
        .sliderousel-subpage
          include ./contents/page-1/page1-subpage/page1-subpage-1.pug
        .sliderousel-subpage
          include ./contents/page-1/page1-subpage/page1-subpage-2.pug
          
      .sliderousel-pageitem
        include ./contents/page-2/mainPage.pug
      
      //- .sliderousel-pageitem
      //-   .sliderousel-mainpage
      //-     include ./contents/page-3/mainPage.pug
      //-   .sliderousel-subpage
      //-     include ./contents/page-3/page3-subpage/page3-subpage-1.pug
      //-   .sliderousel-subpage
      //-     include ./contents/page-3/page3-subpage/page3-subpage-2.pug
      
    script(src="scripts/app.js")