%page-default-styling
  position: relative
  display: flex
  height: 100vh
  width: 100vw
  justify-content: center
  align-items: center
  
.#{$modulename}
  height: 100vh
  overflow: hidden
  width: 100vw
  background: black
  color: grey
  position: relative
  &-pagelist
    @extend %page-default-styling
    flex-direction: column
    flex-wrap: wrap
    transition: .3s transform ease-in-out
  &-pageitem
    @extend %page-default-styling
    flex-direction: row
    flex-shrink: 0
    flex-wrap: wrap
  &-mainpage
    @extend %page-default-styling
    flex-direction: column
  &-subpage
    @extend %page-default-styling
    flex-direction: column

  &-contentList
    display: flex
    flex-direction: row
    transition: .3s transform ease-out
  &-previous
    position: absolute
    left: 10px
    top: 0
    bottom: 0
    display: flex
    align-items: center
    cursor: pointer
    z-index: 2
  &-next
    position: absolute
    right: 10px
    top: 0
    bottom: 0
    display: flex
    align-items: center
    cursor: pointer
    z-index: 2
  &-top
    position: absolute
    top: 10px
    left: 0
    right: 0
    display: flex
    justify-content: center
    cursor: pointer
    z-index: 2
  &-bottom
    position: absolute
    top: auto
    right: 0
    bottom: 10px
    left: 0
    display: flex
    justify-content: center
    cursor: pointer
    z-index: 2
// states
.#{$modulename}
  &--active
    opacity: 1
  &--inactive
    opacity: 0